<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<style>
    * {
        font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
    <h1>Demo form</h1>
    <form action="saveData" method="POST">
        <pre>
            Enter your Email : <input type="text" 
                                name="email"> <br />
            <input type="submit" value="Submit Form">
        </pre>
    </form>
</body>
</html>